{% from "base_template.html" import start_head, start_body, end_page %}

{{ start_head() }}

{{ start_body() }}
    <a href="/"><< Back to home</a>

    {{ not_most_recent_warning }}

    <h1>Revision {{ revision_time_string|e }}</h1>

    <h2>Status</h2>

    <div style="color: gray">
        NOTE: Sources which have errors are reverted to the previous successful revision.<br>
        In these cases it's probably still OK to use the revision,
        but the statistics won't be the most up to date.
    </div>

    <ul style="column-count: 2">
        {% for key, value in status_list %}
            <li><b>{{ key|e }}</b>: {{ value['status']|e }} {% if value['message'] %}{{ value['message']|e }}{% endif %}</li>
        {% endfor %}
    </ul>

    <h2>View Data</h2>

    <ul>
        <!--<li><a href="most_recent_changes?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Most Recent Changes
        </a></li>
        <li><a href="view_logs?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            View Logs
        </a></li>-->
        <li><a href="statistics?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Get statistics report
        </a></li>
        <li><a href="gender_age?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Get gender/age report
        </a></li>
        <li><a href="local_area_case?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Get local area case report
        </a></li>
        <li><a href="source_of_infection?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Get source of infection report
        </a></li>
        <li><a href="regionsTimeSeries?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Get regionsTimeSeries.json file for COVID-19-AU website
        </a></li>
        <li>
            Get all data as HTML table:
            <ul style="column-count: 4">
            {% for source_id in source_ids %}
                <li><a href="get_data_as_table?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}&source_id={{ source_id }}">{{ source_id|e }}</a></li>
            {% endfor %}
            </ul>
        </li>
        <li>
            Get all data as TSV:
            <ul style="column-count: 4">
            {% for source_id in source_ids %}
                <li><a href="get_tsv_data?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}&source_id={{ source_id }}">{{ source_id|e }}</a></li>
            {% endfor %}
            </ul>
        </li>
    </ul>

{{ end_page() }}
