{% from "base_template.html" import start_head, start_body, end_page, new_star %}

{{ start_head() }}
{{ start_body() }}

<a href="/revision?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}"><< Back to revision</a>

{{ not_most_recent_warning }}

<h1>Revision {{ revision_time_string|e }}</h1>

{% macro statistics(datapoints) %}
    <table class="fancy-table">
        <tr>
            <th>state</th>
            <th>ageGroup</th>
            <th>female</th>
            <th>male</th>
            <th>total</th>
            <th>dateOfData</th>
        </tr>
        {% for datapoint in datapoints %}
            {% if datapoint['state_name'] == 'act' and datapoint['agerange'] in ('0-29', '70+') %}
                <!-- ACT HACK!! -->
            {% else %}
            <tr>
                <td>
                    <span>{{- datapoint['state_name']|upper -}}</span>
                </td>
                <td>
                    {{- datapoint['agerange'] -}}
                </td>
                <td {{new_star(datapoint, 'total_female')}} title="{{ datapoint['total_female date_updated'] }} {{ datapoint['total_female text_match']|e }}"><a href="{{ datapoint['total_female source_url'] }}">
                        {{- datapoint['total_female'] -}}
                </a></td>
                <td {{new_star(datapoint, 'total_male')}} title="{{ datapoint['total_male date_updated'] }} {{ datapoint['total_male text_match']|e }}"><a href="{{ datapoint['total_male source_url'] }}">
                        {{- datapoint['total_male'] -}}
                </a></td>
                <td {{new_star(datapoint, 'total')}} title="{{ datapoint['total date_updated'] }} {{ datapoint['total text_match']|e }}"><a href="{{ datapoint['total source_url'] }}">
                        {{- datapoint['total'] -}}
                </a></td>
                <td>
                    {{- datapoint['date_updated'] -}}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endmacro %}

{{ statistics(gender_age_datapoints) }}

{{ end_page() }}
