{% from "base_template.html" import start_head, start_body, end_page, new_star %}

{{ start_head() }}
{{ start_body() }}

<a href="/revision?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}"><< Back to revision</a>

{{ not_most_recent_warning }}

<h1>Revision {{ revision_time_string|e }}</h1>

{% macro statistics(datapoints) %}
    <table class="fancy-table">
        <tr>
            <th>state</th>
            <th>ageGroup</th>
            <th>female</th>
            <th>male</th>
            <th>total</th>
            <th>dateOfData</th>
        </tr>
        {% for datapoint in datapoints %}
            {% if datapoint['state_name'] == 'act' and datapoint['name'] in ('0-29', '70+') %}
                <!-- ACT HACK!! -->
            {% else %}
            <tr>
                <td>
                    <span>{{- datapoint['state_name']|upper -}}</span>
                </td>
                <td>
                    {{- datapoint['name'] -}}
                </td>
                <td {{new_star(datapoint, 'DT_AGE_FEMALE')}} title="{{ datapoint['DT_AGE_FEMALE date_updated'] }} {{ datapoint['DT_AGE_FEMALE text_match']|e }}"><a href="{{ datapoint['DT_AGE_FEMALE source_url'] }}">
                        {{- datapoint['DT_AGE_FEMALE'] -}}
                </a></td>
                <td {{new_star(datapoint, 'DT_AGE_MALE')}} title="{{ datapoint['DT_AGE_MALE date_updated'] }} {{ datapoint['DT_AGE_MALE text_match']|e }}"><a href="{{ datapoint['DT_AGE_MALE source_url'] }}">
                        {{- datapoint['DT_AGE_MALE'] -}}
                </a></td>
                <td {{new_star(datapoint, 'DT_AGE')}} title="{{ datapoint['DT_AGE date_updated'] }} {{ datapoint['DT_AGE text_match']|e }}"><a href="{{ datapoint['DT_AGE source_url'] }}">
                        {{- datapoint['DT_AGE'] -}}
                </a></td>
                <td>
                    {{- datapoint['date_updated'] -}}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endmacro %}

{{ statistics(gender_age_datapoints) }}

{{ end_page() }}
