{% from "base_template.html" import start_head, start_body, end_page %}

{{ start_head() }}

{{ start_body() }}
    <h1>
        Revision {{ rev_date|e }}-{{ rev_subid|e }} ({{ rev_time|e }}) table
    </h1>

    <table class="fancy-table">
        <tr>
            {% for key in datapoints[0] %}
                <th>{{ key|e }}</th>
            {% endfor %}
        </tr>
        {% for datapoint in datapoints %}
            <tr>
                {% for key in datapoint %}
                    <td>{{ datapoint[key]|e }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{{ end_page() }}
