{% from "base_template.html" import start_head, start_body, end_page %}

{{ start_head() }}

{{ start_body() }}
    <a href="/revision?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}"><< Back to revision</a>

    <h1>Revision {{ revision_time_string|e }}</h1>

    <table class="fancy-table">
        <tr>
            {% for key in datapoints[0] %}
                <th>{{ key|e }}</th>
            {% endfor %}
        </tr>
        {% for datapoint in datapoints %}
            <tr>
                {% for key in datapoint %}
                    <td>{{ datapoint[key]|e }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{{ end_page() }}
