{% from "base_template.html" import start_head, start_body, end_page, new_star %}

{{ start_head() }}
{{ start_body() }}

<a href="/revision?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}"><< Back to revision</a>

{{ not_most_recent_warning }}

<h1>Revision {{ revision_time_string|e }}</h1>

{% macro local_area_cases(datapoints) %}
    <table class="fancy-table">
        <tr>
            <th>state</th>
            <th>schema</th>
            <th>area</th>
            <th>confirmedCases</th>
            <th>lastUpdateDate</th>
            <th>member1</th>
            <th>description</th>
            <th>Recovered cases</th>
            <th>Deaths</th>
            <th>Active Cases</th>
        </tr>
        {% for datapoint in datapoints %}
            <tr>
                <td>
                    {{- datapoint['region_parent'].split('-')[-1]|upper -}}
                </td>
                <td>
                    {{- datapoint['region_schema'] -}}
                </td>
                <td>
                    {{- datapoint['region_child'] -}}
                </td>
                <td {{new_star(datapoint, 'total')}} title="{{ datapoint['total date_updated'] }} {{ datapoint['total text_match']|e }}">
                    <a href="{{ datapoint['total source_url'] }}">
                        {{- datapoint['total'] -}}
                    </a>
                </td>
                <td>
                    {{- datapoint['date_updated'] -}}
                </td>
                <td>
                    <!-- assigned to -->
                </td>
                <td>
                    <!-- description -->
                </td>

                <td {{new_star(datapoint, 'status_recovered')}} title="{{ datapoint['status_recovered date_updated'] }} {{ datapoint['status_recovered text_match']|e }}">
                    <a href="{{ datapoint['status_recovered source_url'] }}">
                        {{- datapoint['status_recovered'] -}}
                    </a>
                </td>
                <td {{new_star(datapoint, 'status_deaths')}} title="{{ datapoint['status_deaths date_updated'] }} {{ datapoint['status_deaths text_match']|e }}">
                    <a href="{{ datapoint['status_deaths source_url'] }}">
                        {{- datapoint['status_deaths'] -}}
                    </a>
                </td>
                <td {{new_star(datapoint, 'status_active')}} title="{{ datapoint['status_active date_updated'] }} {{ datapoint['status_active text_match']|e }}">
                    <a href="{{ datapoint['status_active source_url'] }}">
                        {{- datapoint['status_active'] -}}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{{ local_area_cases(local_area_case_datapoints) }}

{{ end_page() }}
