{% from "base_template.html" import start_head, start_body, end_page %}

{{ start_head() }}

{{ start_body() }}
    <a href="/"><< Back to home</a>

    {{ not_most_recent_warning }}

    <h1>Revision {{ revision_time_string|e }}</h1>

    <h2>Status</h2>

    <ul>
        {% for key, value in status_list %}
            <li><b>{{ key|e }}</b>: {{ value[0]|e }} {% if value[1] %}{{ value[1]|e }}{% endif %}</li>
        {% endfor %}
    </ul>

    <h2>View Data</h2>

    <ul>
        <!--<li><a href="most_recent_changes?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Most Recent Changes
        </a></li>
        <li><a href="view_logs?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            View Logs
        </a></li>-->
        <li><a href="statistics?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Get statistics report
        </a></li>
        <li><a href="gender_age?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Get gender/age report
        </a></li>
        <li><a href="local_area_case?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Get local area case report
        </a></li>
        <li><a href="get_data_as_table?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Get all data as HTML table
        </a></li>
        <li><a href="get_tsv_data?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}">
            Get all data as TSV
        </a></li>
    </ul>

{{ end_page() }}
