{% from "base_template.html" import start_head, start_body, end_page, new_star %}

{{ start_head() }}
{{ start_body() }}

<a href="/revision?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}"><< Back to revision</a>

{{ not_most_recent_warning }}

<h1>Revision {{ revision_time_string|e }}</h1>

{% macro statistics(date_today, datapoints) %}
    <table class="fancy-table">
        <tr>
            <th>state</th>
            <th>Overseas acquired</th>
            <th>Locally acquired - contact of a confirmed case</th>
            <th>Locally acquired - contact not identified</th>
            <th>Interstate acquired</th>
            <th>Under investigation</th>
            <th>reportDate</th>
            <th>entryDate</th>
        </tr>
        {% for datapoint in datapoints %}
            <tr>
                <td>{{ datapoint['state_name']|upper }}</td>
                <td {{new_star(datapoint, 'source_overseas', date_today)}} title="{{ datapoint['source_overseas date_updated'] }} {{ datapoint['source_overseas text_match']|e }}"><a href="{{ datapoint['source_overseas source_url'] }}">
                        {{- datapoint['source_overseas'] -}}
                </a></td>
                <td {{new_star(datapoint, 'source_confirmed', date_today)}} title="{{ datapoint['source_confirmed date_updated'] }} {{ datapoint['source_confirmed text_match']|e }}"><a href="{{ datapoint['source_confirmed source_url'] }}">
                    {{- datapoint['source_confirmed'] -}}
                </a></td>
                <td {{new_star(datapoint, 'source_community', date_today)}} title="{{ datapoint['source_community date_updated'] }} {{ datapoint['source_community text_match']|e }}"><a href="{{ datapoint['source_community source_url'] }}">
                    {{- datapoint['source_community'] -}}
                </a></td>
                <td {{new_star(datapoint, 'source_interstate', date_today)}} title="{{ datapoint['source_interstate date_updated'] }} {{ datapoint['source_interstate text_match']|e }}"><a href="{{ datapoint['source_interstate source_url'] }}">
                    {{- datapoint['source_interstate'] -}}
                </a></td>
                <td {{new_star(datapoint, 'source_under_investigation', date_today)}} title="{{ datapoint['source_under_investigation date_updated'] }} {{ datapoint['source_under_investigation text_match']|e }}"><a href="{{ datapoint['source_under_investigation source_url'] }}">
                    {{- datapoint['source_under_investigation'] -}}
                </a></td>
                <td>
                    {{- datapoint['date_updated'] -}}
                </td>
                <td>
                    {{- date_today or datapoint['date_today'] -}}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

<h2>Today's sources of infection</h2>
{{ statistics(statistics_datapoints[0][0], statistics_datapoints[0][1]) }}

<h2>Yesterday's</h2>
{{ statistics(statistics_datapoints[1][0], statistics_datapoints[1][1]) }}

<h2>2 days ago's</h2>
{{ statistics(statistics_datapoints[2][0], statistics_datapoints[2][1]) }}

<h2>3 days ago's</h2>
{{ statistics(statistics_datapoints[3][0], statistics_datapoints[3][1]) }}

{{ end_page() }}
