{% from "base_template.html" import start_head, start_body, end_page, new_star %}

{{ start_head() }}
{{ start_body() }}

<a href="/revision?rev_date={{ rev_date }}&rev_subid={{ rev_subid }}"><< Back to revision</a>

{{ not_most_recent_warning }}

<h1>Revision {{ revision_time_string|e }}</h1>

{% macro statistics(date_today, datapoints) %}
    <table class="fancy-table">
        <tr>
            <th>state</th>
            <th>confirmedTotal</th>
            <th>confirmedToday</th>
            <th>deathTotal</th>
            <th>deathToday</th>
            <th>recoveryTotal</th>
            <th>recoveryToday</th>
            <th>testedTotal</th>
            <th>localAcquired</th>
            <th>hospitalized</th>
            <th>ICU</th>
            <th>reportDate</th>
            <th>entryDate</th>
        </tr>
        {% for datapoint in datapoints %}
            <tr>
                <td>{{ datapoint['region_parent']|upper }}</td>
                <td {{new_star(datapoint, 'total', date_today)}} title="{{ datapoint['total date_updated'] }} {{ datapoint['total text_match']|e }}"><a href="{{ datapoint['total source_url'] }}">
                    {{- datapoint['total'] -}}
                </a></td>
                <td {{new_star(datapoint, 'new', date_today)}} title="{{ datapoint['new date_updated'] }} {{ datapoint['new text_match']|e }}">
                    {%- if datapoint['new date_updated'] == (date_today or datapoint['date_today']) -%}
                        <a href="{{ datapoint['new source_url'] }}">
                            {{- datapoint['new'] -}}
                        </a>
                    {%- endif -%}
                </td>
                <td {{new_star(datapoint, 'status_deaths', date_today)}} title="{{ datapoint['status_deaths date_updated'] }} {{ datapoint['status_deaths text_match']|e }}"><a href="{{ datapoint['status_deaths source_url'] }}">
                    {{- datapoint['status_deaths'] -}}
                </a></td>
                <td {{new_star(datapoint, 'status_new_deaths', date_today)}} title="{{ datapoint['status_new_deaths date_updated'] }} {{ datapoint['status_new_deaths text_match']|e }}"><a href="{{ datapoint['status_new_deaths source_url'] }}">
                    {{- datapoint['status_new_deaths'] -}}
                </a></td> <!-- FIXME -->
                <td {{new_star(datapoint, 'status_recovered', date_today)}} title="{{ datapoint['status_recovered date_updated'] }} {{ datapoint['status_recovered text_match']|e }}"><a href="{{ datapoint['status_recovered source_url'] }}">
                    {{- datapoint['status_recovered'] -}}
                </a></td>
                <td {{new_star(datapoint, 'status_new_recovered', date_today)}} title="{{ datapoint['status_new_recovered date_updated'] }} {{ datapoint['status_new_recovered text_match']|e }}"><a href="{{ datapoint['status_new_recovered source_url'] }}">
                    {{- datapoint['status_new_recovered'] -}}
                </a></td> <!-- FIXME -->
                <td {{new_star(datapoint, 'tests_total', date_today)}} title="{{ datapoint['tests_total date_updated'] }} {{ datapoint['tests_total text_match']|e }}"><a href="{{ datapoint['tests_total source_url'] }}">
                    {{- datapoint['tests_total'] -}}
                </a></td>
                <td>
                    {{-
                        int(datapoint.get('source_confirmed', 0)) +
                        int(datapoint.get('source_community', 0)) +
                        int(datapoint.get('source_interstate', 0))
                        or ''
                    -}}
                </td>
                <td {{new_star(datapoint, 'status_hospitalized', date_today)}} title="{{ datapoint['status_hospitalized date_updated'] }} {{ datapoint['status_hospitalized text_match']|e }}"><a href="{{ datapoint['status_hospitalized source_url'] }}">
                    {{- datapoint['status_hospitalized'] -}}
                </a></td>
                <td {{new_star(datapoint, 'status_icu', date_today)}} title="{{ datapoint['status_icu date_updated'] }} {{ datapoint['status_icu text_match']|e }}"><a href="{{ datapoint['status_icu source_url'] }}">
                    {{- datapoint['status_icu'] -}}
                </a></td>
                <td>
                    {{- datapoint['date_updated'] -}}
                </td>
                <td>
                    {{- date_today or datapoint['date_today'] -}}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

<h2>Today's statistics</h2>
{{ statistics(statistics_datapoints[0][0], statistics_datapoints[0][1]) }}

<h2>Yesterday's statistics</h2>
{{ statistics(statistics_datapoints[1][0], statistics_datapoints[1][1]) }}

<h2>2 days ago's statistics</h2>
{{ statistics(statistics_datapoints[2][0], statistics_datapoints[2][1]) }}

<h2>3 days ago's statistics</h2>
{{ statistics(statistics_datapoints[3][0], statistics_datapoints[3][1]) }}

{{ end_page() }}
